// @include edit;

.logo {
    @include col(1 / 4);
    height: 60px;
    padding: .75rem 0 0 1rem;
}

.navBar {
    width: 100%;
    height: 60px;
}

section.navWrapper {
  @include center(100%, 1rem);
}

nav {
  @include center(90%, 1rem);
  @include col(2/4, $offset: 1/4);
  height: inherit;

  a {
    @include span(1/4);
    height: 60px;
    padding-top: .75rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: .9rem;
  } // a
} // nav

section > header {
  margin-top: 2rem;
}

section {
    @include center(960px, 1rem);
}

// breakpoints SMALL ===
@include breakpoint(320px) {
    section {
        @include single-transition(all, 1s, ease-out);
    }
    // section
    h1, p, article, aside {
        @include stack;
        p {
            text-align: left;
        }
        // p
   
    }
    // h1, p, etc
}


// breakpoint
// ====================

// breakpoints MEDIUM ===
@include breakpoint(700px) {
    section {
        @include single-transition(all, 1s, ease-out);
    }
    // section
    article {
        @include col(2 / 3);
    }
    // article
    aside {
        @include col(1 / 3);
    }
    // aside
    h1, p, article, aside {
        @include unstack;
        p {
            text-align: left;
        }
        // h1, p, etc
   
    }
    // p
}


// break point
// ====================

// breakpoints LARGE ===
@include breakpoint(960px) {
    section {
        @include single-transition(all, 1s, ease-out);
    }
    // section
    article {
        p {
            @include col(1 / 2);
        }
        // p
   
    }
    // article
    aside {
        p {
            @include col(5 / 12);
        }
        // p
   
    }
    // aside
}


// breakpoint
// ====================