$primary-color: #2e2d2c;
$secondary-color: #323257;
$brand-orange: #f04b47;
$off-white: #fffff3;
$white: #ffffff;
$gold: #a49f79;

$font-primary: Fjalla One, sans-serif;
$font-secondary: Abel, sans-serif;

$ms-base: 1em 1.33em;
$ms-ratio: $golden;  // 1.618